@import url('https://fonts.cdnfonts.com/css/poetsenone');
@import url('https://fonts.cdnfonts.com/css/inria-sans');
@import url('https://fonts.cdnfonts.com/css/interstate-2');
@import url('https://fonts.cdnfonts.com/css/inter');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.image-container {
    margin: 0 auto;
    margin-top: 156px;
    text-align: center;
    position: relative;
    max-width: 1400px;
    margin-bottom: 115px;
  }
  .image-container img {
    max-width: 1400px;
    width: 100%; 
    display: block; 
  }

  .image-container .text-overlay {
    max-width: 1258px;
    width: 100%;
    position: absolute; 
    top: 39px; 
    left: 71px;
    right: 71px;
    color: white; 
    font-size: 44.452px; 
    font-family: 'PoetsenOne', sans-serif;
    padding: 5px 10px; 
    font-weight: 400;
  }
    
.container-subscribe{
    max-width: 1137px;
    width: 100%;
    padding: 40px 32px;
    background-color: #EBF8FE;
    border-radius: 24px;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    display: block;
    margin-bottom: 72px;
}
.container-subscribe h2{
    font-family: 'Inria Sans', sans-serif;
    color: #181D27;
    font-size: 64px;
    font-weight: 700;
    line-height: 60px;
}
.pOne{
    margin-top: 24px;
    margin-bottom: 24px;
    color: #535862;
    font-size: 32px;
    font-weight: 400;
    line-height: 44px;
}
.email{
    width: 345px;
    padding: var(--spacing-lg, 12px) 14px;
    border-radius: var(--radius-md, 8px);
    border: 1px solid #D5D7DA;
    background: #FFF;
}
.submit{
    border-radius: var(--radius-md, 8px);
    border: 2px solid #FFF;
    background: #007CB8;
    padding: var(--spacing-lg, 9px) 18px;
    color: #FFF;
    font-size: var(--Font-size-text-md, 16px);
    font-weight: 600;
    line-height: var(--Line-height-text-md, 24px);
}
.formP{
    margin-top: 8px;
    font-family: 'Inter', sans-serif;
    font-family : 'Inter' , sans-serif ; 
    margin-right: 150px;
    color: #535862;
    font-size: var(--Font-size-text-sm, 14px);
    font-weight: 400;
    line-height: var(--Line-height-text-sm, 20px);
 }
.submitForm{
    font-family: 'Inter', sans-serif;
    font-family : 'Inter' , sans-serif ; 
    margin: 0 auto;
    max-width: 546px;
    width: 100%;
    padding: 40px 32px;
    border-radius: 24px;
    background: #EBF8FE;
    margin-bottom: 99px;
}
.submitForm h2{
    color: #181D27;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-size: 14px;
    color: #1B003D;
}

.form-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #b0d4e3;
    border-radius: 5px;
    box-sizing: border-box; 
}

input[type="radio"], input[type="checkbox"] {
    margin-right: 8px;
    vertical-align: middle;
}

input:checked {
    accent-color: #007bff;
}